# Archivos de sistema macOS
.DS_Store

# Archivos de respaldo
*.bak
*.old

# Entornos virtuales de Python
venv/
.venv/

# Caché de Python
__pycache__/
*.pyc

# Archivos de dependencias de Node
node_modules/
